################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TimeKeeping/v17
/Haui_TimeKeepingSystem/.vs/Haui_TimeKeepingSystem/FileContentIndex
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Haui_TimeKeepingSystem/.vs/Haui_TimeKeepingSystem/v17/.suo
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj
/Haui_TimeKeepingSystem/.vs/Haui_TimeKeepingSystem/v17/.suo
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/Haui_TimeKeepingSystem.csproj.AssemblyReference.cache
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/Haui_TimeKeepingSystem.exe
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/Haui_TimeKeepingSystem.g.resources
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/Haui_TimeKeepingSystem.pdb
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/Haui_TimeKeepingSystem_MarkupCompile.cache
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/Haui_TimeKeepingSystem_MarkupCompile.i.cache
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/Haui_TimeKeepingSystem_MarkupCompile.i.lref
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/MainWindow.g.cs
/Haui_TimeKeepingSystem/Haui_TimeKeepingSystem/obj/Debug/MainWindow.g.i.cs
