################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TimeKeeping/v17
/Haui_TimeKeepingSystem/.vs/Haui_TimeKeepingSystem/FileContentIndex
