################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TimeKeeping/v17
/TimeKeepingSystem/.vs/TimeKeepingSystem/FileContentIndex
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/TimeKeepingSystem/.vs/TimeKeepingSystem/v17/.suo
/TimeKeepingSystem/TimeKeepingSystem/obj
/TimeKeepingSystem/.vs/TimeKeepingSystem/v17/.suo
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/TimeKeepingSystem.csproj.AssemblyReference.cache
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/TimeKeepingSystem.exe
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/TimeKeepingSystem.g.resources
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/TimeKeepingSystem.pdb
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/TimeKeepingSystem_MarkupCompile.cache
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/TimeKeepingSystem_MarkupCompile.i.cache
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/TimeKeepingSystem_MarkupCompile.i.lref
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/MainWindow.g.cs
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/MainWindow.g.i.cs
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/wdAddEmployee.g.cs
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/wdAddEmployee.g.i.cs
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/wdEmployee.g.cs
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/wdEmployee.g.i.cs
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/wdHistory.g.cs
/TimeKeepingSystem/TimeKeepingSystem/obj/Debug/wdHistory.g.i.cs
